<!doctype html>
<html>
  <head>
    <title>{{ page_title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{{ page_description | escape }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    {{ content_for_header }}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;600;700&family=Lexend:wght@100;400;700&display=swap" rel="stylesheet">


    <!-- Header hook for plugins -->
    {{ 'application.css' | asset_url | stylesheet_tag }}

    <script defer src="{{ 'application.js' | asset_url }}"></script>

    <script defer src="{{ 'alpine_cdn.js' | asset_url }}"></script>

    <style>
      [x-cloak] {
        display: none !important
      };
    </style>
  </head>
  <body>
    {% section 'header' %}
    <main role="main" class="max-w-6xl min-h-screen mx-auto px-1 md:px-6">
      {{ content_for_layout }}
    </main>
  </body>
</html>