<div class="py-0 md:py-8 relative">
  {% paginate collection.products by section.settings.num_products %}
    <div class="flex flex-wrap justify-start relative">
      <div class="w-2/3 md:w-5/12 flex items-center mx-auto">
        {% if collection.featured_image != blank %}
          {{ collection.featured_image | image_url: width: 400 | image_tag: class: 'w-full object-cover' }}
        {% elsif collection.products.first.image != blank %}
          {{ collection.products.first.image | image_url: width: 400 | image_tag: class: 'w-full object-cover' }}
        {% elsif collection.title == "Products" %}
        {% else %}
          {{ 'product-1' | placeholder_svg_tag: 'w-full object-cover bg-gray-100' }}
        {% endif %}

      </div>
      <div class="w-full md:w-7/12 px-2 md:px-8 py-6 text-center md:text-left">

        <h1 class="text-3xl">{{ collection.title }}</h1>
        <p class="mt-4 md:text-lg">{{ collection.description | strip_html }}</p>

        <div class="hidden md:inline absolute top-0 right-0">
          <a href="{{ routes.collections_url }}">
            <p class="inline underline">All Collections</p>
          </a>
          <p class="inline">
            > {{ collection.title }}</p>
        </div>

      </div>
    </div>


    <div class="max-w-6xl mx-auto">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        {% for product in collection.products %}
          {% render 'product-card', product: product, showVendor: section.settings.showVendor %}
        {% else %}
          <p class="text-center mt-6">There are no products in this selection.</p>
        {% endfor %}
      </div>
    </div>
    {% render 'pagination', pagination: paginate %}
  {% endpaginate %}

</div>

{% schema %}
  {
    "name": "Template Collection",
    "settings": [
      {
        "type": "number",
        "id": "num_products",
        "default": 6,
        "label": "Number of products per page"
      }, {
        "type": "checkbox",
        "id": "showVendor",
        "default": true,
        "label": "Show the vendor name?"
      }
    ]
  }
{% endschema %}